.custom-checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 19px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  background-color: white;
  border: 1px solid #9c9275;
  border-radius: 50%;
}

.custom-checkbox-container:hover input ~ .checkmark {
  border: 1px solid #9c9275;
}

.custom-checkbox-container input:checked ~ .checkmark {
  background-color: #9c9275;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.custom-checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.custom-checkbox-container .checkmark:after {
  left: 8px;
  top: 5px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
